[project]
	description = scripts for upgrading to Gerrit version 2.11
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Khai Do (zaro0508)
[access "refs/for/refs/*"]
	read = group user/Khai Do (zaro0508)
	push = group user/Khai Do (zaro0508)
	label-Code-Review = -2..+2 group user/Khai Do (zaro0508)
	label-Verified = -1..+1 group user/Khai Do (zaro0508)
	rebase = group user/Khai Do (zaro0508)
	removeReviewer = group user/Khai Do (zaro0508)
	submit = group user/Khai Do (zaro0508)
[access "refs/heads/*"]
	read = group user/Khai Do (zaro0508)
	create = group user/Khai Do (zaro0508)
	push = +force group user/Khai Do (zaro0508)
	pushMerge = group user/Khai Do (zaro0508)
[access "refs/tags/*"]
	push = +force group user/Khai Do (zaro0508)
	pushTag = group user/Khai Do (zaro0508)
	pushSignedTag = group user/Khai Do (zaro0508)
